/*
	--~~== Header ==~~--
*/
header {
	width:100%;
	height:95px;
	padding: 10px 20% 15px 20%;
	border-bottom: solid aqua 1px;
	margin-bottom: 50px;
	text-align: left;
	background-color: #282828;
	/* background-image: url("../img/bannerback.PNG"); */
}
.left-header {
	width: 50%;
	vertical-align:bottom;
	text-align:left;
	display:inline-block;
}
.right-header {
	width: 50%;
	text-align:right;
	display:inline-block;
}
.left-header a {
	padding-top: 0.5em;
	padding-right: 0.9em;
	padding-bottom: 1.0em;
	margin-right: 10px;
}
.right-header a {
	padding-top: 0.9em;
	padding-bottom: 0.9em;
	padding-left: 0.9em;
	margin-left: 10px;
}
header nav {
	display: block;
	padding: 0;
}
header nav::after {
	display: block;
	clear: both;
}
header nav a {
	display: inline-block;
	text-decoration: none;
	color: #bbb;
	transition: background-color 300ms ease;
}
header nav a:hover {
	color: #fff;
}
/* highlight nav link to current page */
.current-page {
	text-decoration:underline solid aqua;
	color:#fff;
}
.current-page:hover {
	color: #fff;
}
.current-page:visited,
.current-page:active {
	color: #fff;
}
/*
	--~~== End Header ==~~--
*/

/*
	--~~== Footer ==~~--
*/
footer {
	width: 100%;
	height: 85px;
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 10px;
	border-top: solid aqua 1px;
	margin-top: 15px;
	right: 0;
	bottom:0;
	left: 0;
	text-align: left;
	position: absolute;
	clear: both;
	background-color: #282828;
	/* background-image: url("../img/bannerback.PNG"); */
	overflow:hidden;
}
footer p {
	margin: 0;
	margin-bottom: 0.3em;
	padding: 0;
}
footer p.lead {
    color: #ccc;
}
footer .left-footer {
	text-align:left;
	width: 50%;
	display:inline-block;
}
footer .right-footer {
vertical-align: top;
	text-align:right;
	width: 50%;
	display:inline-block;
}
footer nav {
	display: block;
	position: relative;
	padding: 0;
	line-height: 0.9em;
}
footer nav::after {
	display: block;
	clear: both;
}
footer nav a {
	display: inline-block;
	padding: 6px;
	text-decoration: none;
	color: #bbb;
	transition: background-color 300ms ease;
}
footer nav a:hover {
	color: #FFF;
}
/*
	--~~== End Footer ==~~--
*/

/*
	--~~== Generic Elements ==~~--
*/
body {
	min-height:100vh;
	position:relative;
	background: repeating-linear-gradient( #8f8f8f, #8f8f8f 5px, #7e7e7e 5px, #7e7e7e 8px );
	background-attachment:fixed;
}
body::after {
	height:95px;
	content:'';
	display:block;
}
.content {
	width:60%;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 50px;
	overflow: hidden;
}
/* when horizontally aligned content should stay together */
.content-row {
	text-align:left;
	border-top: solid 1px #ccc;
	border-bottom: solid 1px #777;
	background-color: #aaa;
}
/* when vertically aligned content should stay together */
.content-column {
	width: 50%;
	text-align:left;
	background-color: #aaa;
	float:left;
}
.content-column .box {
	border-top: solid 1px #ccc;
	border-bottom: solid 1px #777;
}
.left-column .box {
	border-right: solid 1px #777;
}
.right-column .box {
	border-left: solid 1px #ccc;
}
/*
	--~~== Generic Elements ==~~--
*/

/*
	--~~== Boxes ==~~--
*/
.half-width-box-container {
	width: 50%;
	display:inline-block;
	vertical-align:top;
}
.box {
	text-align:left;
	display:inline-block;
	width:100%;
	vertical-align:top;
}
.box img {
	width: 90%;
	max-height: 360px;
	margin: 1.1rem 5% 1.1rem 5%;
}
.small-image-box {
	height:64px;
	width:64px;
	margin: 1.4rem 15px 1.4rem 15px;
	float:left;
}
.box .music-paragraph {
	margin: 0;
	margin-bottom: 0.3em;
	padding: 0;
}
.box .small-image {
	width: 64px;
	height: 64px;
	overflow: hidden;
	display:inline-block;
	margin: 0;
}
.box iframe {
	width: 100%;
	height: 100%;
}
.video-container {
	width: 100%;
	height: 347px;
	padding: 1.1rem 5% 1.1rem 5%;
	text-align: center;
}
@media (min-width: 125rem) {
	.box img{
		margin-right: 1.1rem;
		margin-left: 1.1rem;
		height:auto;
		max-height:none;
	}
	.box iframe{
		margin-right: 1.1rem;
		margin-left: 1.1rem;
	}
}
.section-header{
	width:100%;
	text-align:left;
	padding:1.5rem;
	border-top: solid 1px #333;
	display:inline-block;
	vertical-align:top;
	background-color: #232323;
	color:#fff;
}
.section-header i {
	margin-right: 0.5rem;
	margin-top: 10px;
}
.sample {
	padding: 1rem;
}
/*
	--~~== End Boxes ==~~--
*/

/*
	--~~== Card ==~~--
*/
.card {
	width: 100%;
	padding: 20px;
	border-top: solid 1px #464646;
	border-bottom: solid 1px #030303;
	display:inline-block;
	text-align:left;
	background-color:#333;
}
.card .action {
	text-align: right;
	padding: 10px;
	margin: 5px;
}
.card h3 {
	margin-bottom: 15px;
}
/*
	--~~== End Card ==~~--
*/

/*
	--~~== Table of Contents ==~~--
*/
	nav.toc .nav-header {
		font-weight: bold;
		font-size: 1.2em;
		color: #eee;
	}
	nav.toc > section {
		margin-top:8px;
		margin-right: 5px;
	}
	nav.toc a {
		padding: 3px;
		color: #fff;
		text-decoration: none;
		display: block;
	}
	nav.toc a.tab{
		padding-left:2em;
		font-size:0.9em;
	}
	nav.toc a::before {
		content: "-- ";
	}
	nav.toc a:focus,
	nav.toc a:hover{
		color: #999;
	}
/*
	--~~== End Table of Contents ==~~--
*/

/*
	--~~== Interactive Elements ==~~--
*/
	.btn {
		border-radius: 2px;
		padding: 7px;
		border-top:solid 1px aqua;
		border-right:solid 1px #077;
		border-bottom:solid 1px #077;
		border-left:solid 1px aqua;
		margin:3px;
		color: #FFF;
		background: #055;
		text-decoration: none;
		transition: background-color 200ms, color 200ms;
		cursor: pointer;
		font-family: "dejavusans";
	}
	.btn:hover {
		background-color: #127a81;
		color: #FFF;
	}
	.btn:active {
		background-color: #244
	}
	.btn.nav {
		text-decoration: none;
	}
	.btn.nav:visited {
		color: #FFF;
	}
	.btn.nav:visited:hover {
		color: #FFF;
	}
	.btn.reset {
		color: #999;
	}
	.btn.reset:hover{
		background-color:#333;
	}
	.btn.reset:active {
		background-color: black;
		color: #FFF;
	}
/*
	--~~== End Interactive Elements ==~~--
*/

/*
	--~~== Responsiveness ==~~--
*/
@media screen and 
	(max-width: 68em),
	(max-device-width: 640px),
	(orientation: portrait) {
	header {
		padding-right: 5%;
		padding-left: 5%;
		height:auto !important;
	}
	.right-header {
		width: 100%;
		text-align: inherit;
	}
	.right-header a {
		padding-right: 0.9em;
		padding-left: 0;
		margin-right: 10px;
		margin-left: 0;
	}
	.left-header {
		width: 100%;
	}
	.left-header a {
		padding-bottom: 0;
	}
	.left-header nav {
		margin-bottom: 1rem;
	}
	.content{
		width:90% !important;
		margin-right: auto;
		margin-left: auto;
	}
	.content-column {
		width: 100%;
		float: none;
	}
	.content-column .box {
		border-left: none;
		border-right: none;
	}
	.half-width-box{
		width:100%;
	}
	.half-width-text-blurb{
		width:100%;
	}
	.half-width-box-container {
		width: 100%;
	}
	.box img {
		max-height: 640px;
	}
	.card {
		width:100%;
	}
	footer {
		padding-right: 5%;
		padding-left: 5%;
	}
}
/*
	--~~== End Responsiveness ==~~--
*/