/* 
    Font Styles
*/

@font-face {
	font-family: 'Aller';
    src: url('../fonts/Aller/Aller_Rg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dejavu';
    src: url('../fonts/dejavusansmono/DejaVuSansMono-webfont.eot');
    src: url('../fonts/dejavusansmono/DejaVuSansMono-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dejavusansmono/DejaVuSansMono-webfont.woff') format('woff'),
         url('../fonts/dejavusansmono/DejaVuSansMono-webfont.ttf') format('truetype'),
         url('../fonts/dejavusansmono/DejaVuSansMono-webfont.svg#dejavu_sans_monobook') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/roboto/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Roboto-Condensed';
    src: url('../fonts/roboto/Roboto-Condensed.ttf');
}