/*
    Typography based styles
*/

body {
    font-family: "arial", sans-serif;
	font-weight: normal;
	font-style: normal;	
    font-size: 0.9em;
    color:#aaa;
}

p.lead {
    font-family: "arial", sans-serif;
    font-size: 1.1em;
    color: #888;
}

.muted {
    font-weight: lighter;
}
p {
    line-height: 1.3;
    margin-bottom:0.9em;
}
h1,
h2,
h3 {
    font-family: "dejavu";
    text-decoration:none;
}

h1 {
    font-size: 2.4em;
    margin-bottom:10px;
}
h2 {
    font-size: 1.8em;
    margin-bottom:10px;
}
h3 {
    font-size: 1.5em;
    margin-bottom:10px;
}
h4 {
    font-size: 1.1em;
    margin-bottom:5px;
}
h5 {
    font-size: 1em;
    margin-bottom:5px;
}

.code,
code {
    font-family: 'dejavu';
}


a {
    color: aqua;
    /* text-decoration:none; */
}
/* a:visited {
    color: #335555;
} */

.fas.fa-down {
    font-size: 2rem;
}
.fas.fa-up {
    font-size: 2rem;
}
a:hover,
a:hover {
    color: #C14D4F;
}
a:active {
    color: #560712;
}
/* i {
    color:#fff;
}
.dark {
    color:#222;
} */