/*
    Typography based styles
*/
body {
    font-family: "Roboto", sans-serif;
	font-weight: normal;
	font-style: normal;	
    font-size: 0.8rem;
    color:#111;
}

p.lead {
    font-family: "Roboto-Light", sans-serif;
    font-weight: bold;
    font-size: 1.0rem;
}

.muted {
    font-weight: lighter;
}

p {
	margin: 1.1rem;
    line-height: 1.5em;
    font-size: 0.9rem;
}
ul, ol, li {
	margin: 1rem;
}

h1,
h2,
h3 {
    font-family: 'Roboto-Light';
    letter-spacing:1px;
    text-decoration:none;
}

h1 {
	display: block;
	position: relative;
	text-align:left;
	margin: 0;
	font-size: 2.3em;
	color: #fff;
    white-space: nowrap;
    padding-top:0.5em;
}
h1 a,
h1 a:visited {
	color: #fff;
	text-decoration: none;
}
h1 a:hover {
	color: #bbb;
}

h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.6em;
	width:100%;
	padding:0.8rem;
	padding-left: 1.1rem;
	margin: 0;
	text-align:left;
	display:inline-block;
	vertical-align:top;
	background-color: #353;
    color:#fff;
}
h4 {
    font-size: 1.2em;
}
h5 {
    font-size: 1.1em;
}

.code,
code {
    font-family: 'firacode';
}
a {
    color: #ff0;
}
.fas.fa-down {
    font-size: 2rem;
}
.fas.fa-up {
    font-size: 2rem;
}
a:hover,
a:hover {
    color: #f20;
}
a:active {
    color: #710;
}

.text {
    width: 80%;
    margin: 20px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    color: #FFF;
    position: relative;
    background-color: rgba(0,0,0,0.3);
    box-shadow: 0 0 3px 4px rgba(0,0,0,0.3);
}
.text a {
    color: #FFF;
    text-decoration: underline;
    cursor: pointer;
}
.text a:visited {
    color: #FFF;
}
.text a:focus,
.text a:hover {
    color: #DDD;
}
.text a:active {
    color: #FFF;
}